extends ./layout.jade
block contenido     
        div(class="jumbotron")
            div(class="container")
                h1 Hola mundo!
                p Bienvenido...
                p
                    a(class="btn btn-primary btn-lg") Aprende mas  
            div
        div
        
